Ödev-1: Değişkenlere atanmış değerlerin veri tipleri arasında dönüşüm yapılır.

In [13]:
int_ = 45
float_ = 4.5
string_ = '455'
bool_ = False

In [9]:
int(string_)

455

In [10]:
int(float_)

4

In [11]:
float(int_)

45.0

Ödev-2: İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [15]:
seyma = 24
gul =  11
seymagul = 52

In [16]:
seyma >= gul

True

In [17]:
seyma <= seymagul

True

In [18]:
gul == seymagul

False

In [19]:
not(gul == seymagul)

True

In [20]:
seyma >= gul or gul == seymagul

True

In [21]:
seyma <= seymagul and gul == seymagul

False

Ödev-3: Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [28]:
deger1 = input('Birinci değeri giriniz: ')
deger2 = input('İkinci değeri giriniz: ')

deger1 + deger2

Birinci değeri giriniz: 77
İkinci değeri giriniz: 5

'775'

In [31]:
int(deger2) / int(deger1)

0.06493506493506493

In [33]:
deger2 * 2

'55'

Ödev-4: Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [36]:
isim = input('İsim: ')
yas = input('Yas: ')
sehir = input('Sehir: ')
meslek = input('Meslek: ')

İsim: seyma
Yas: 24
Sehir: kutahya
Meslek: vb

In [38]:
print(isim,',',yas,',',sehir,',',meslek)

seyma , 24 , kutahya , vb

Ödev-5: "Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [39]:
metin = "Hi-Kod Veri Bilimi Atölyesi"

In [40]:
metin.split()

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']

In [41]:
metin.upper()

'HI-KOD VERI BILIMI ATÖLYESI'

In [42]:
metin.lower()

'hi-kod veri bilimi atölyesi'

In [48]:
sayi = "0123456789"

In [49]:
cift = sayi[::2]

In [50]:
tek = sayi[1::2]

In [51]:
print(cift,',',tek)

02468 , 13579