In [1]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
          "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
          "Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

 Yukarıdaki sözlük DataFrame’e dönüştürülür. 
 Yukarıdaki DataFrame için 

 2.indexte bulunan kategori bulunur. (Sadece kategori bilgisi) 
 2. indexte bulunan ürün bulunur. (Sadece ürün bilgisi) 
 4.indexten 9.indexe kadar olan veriler bulunur. (Kategori,ürün,fiyat bilgisi beraber) 
 1.indexten 6.indexe kadar olan ürünler bulunur. (Sadece ürün bilgisi)

In [2]:
import pandas as pd

In [3]:
sozluk_df = pd.DataFrame(sozluk)
sozluk_df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [4]:
kategori = sozluk_df.iloc[2,sozluk_df.columns.get_loc("Kategori")]
kategori

'Ayakkabı'

In [5]:
urun = sozluk_df.iloc[2,1]
urun

'Sandalet'

In [6]:
all_ = sozluk_df.iloc[4:10]
all_

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [7]:
j_urun = sozluk_df.loc[1:7,"Ürün"]
j_urun

1          T-shirt
2         Sandalet
3             Küpe
4    Spor Ayakkabı
5         Pantolon
6            Kolye
7            Yüzük
Name: Ürün, dtype: object

Yukarıdaki DataFrame için 

 Giyim kategorisinde bulunan ürünler gösterilir. 
 Ayakkabı kategorisinde bulunan ürünler gösterilir. 
 Aksesuar kategorisinde bulunan ürünler gösterilir.

In [8]:
giyim = sozluk_df[sozluk_df['Kategori'] == "Giyim"]["Ürün"]
giyim

0       Kazak
1     T-shirt
5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [9]:
ayakkabi = sozluk_df[sozluk_df['Kategori'] == "Ayakkabı"]["Ürün"]
ayakkabi

2         Sandalet
4    Spor Ayakkabı
8            Çizme
Name: Ürün, dtype: object

In [10]:
aksesuar = sozluk_df[sozluk_df['Kategori'] == "Aksesuar"]["Ürün"]
aksesuar

3     Küpe
6    Kolye
7    Yüzük
Name: Ürün, dtype: object

 Yukarıdaki DataFrame için 

 Giyim kategorisinde fiyatı 300'den fazla olan ürünler gösterilir. 
 Ayakkabı kategorisinde fiyatı 600'den az olan ürünler gösterilir. 
 Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuar gösterilir.

In [11]:
giyim_fiyat = sozluk_df[(sozluk_df['Kategori'] == "Giyim") & (sozluk_df["Fiyat"] > 300)]["Ürün"]
giyim_fiyat

5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [12]:
ayakkabi_fiyat = sozluk_df[(sozluk_df['Kategori'] == "Ayakkabı") & (sozluk_df["Fiyat"] < 600)]["Ürün"]
ayakkabi_fiyat

2    Sandalet
Name: Ürün, dtype: object

In [13]:
aksesuar_fiyat = sozluk_df[(sozluk_df['Kategori'] == "Aksesuar") & (sozluk_df["Fiyat"] > 100)]
aksesuar_fiyat

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150